a:hover{
    color: red;
    text-decoration: none;
}
h2+h3 .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}
li[class="~a"]{
    color: blue;
}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color: red;
}